.o_kanban_record > div.o_hr_kanban_own_employee {
    border: 2px solid #f06050;
}
.o_kanban_view .o_hr_kanban_record {
    .ribbon {
        &::before,
        &::after {
            display: none;
        }

        span {
            padding: 5px;
            font-size: x-small;
            z-index: unset;
            height: auto;
        }
    }
    .ribbon-top-right {
        margin-top: -$o-kanban-dashboard-vpadding;

        span {
            top: 15px;
            left: 10px;
        }
    }
    .o_kanban_pause_button {
        font-size: 1.5rem;
        color: $danger;
    }
    .o_kanban_play_button {
        font-size: 1.5rem;
        color: $success;
    }
}
